.result{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#07142a;

color:white;

text-align:center;

}

.result h1{

font-size:50px;

color:#00d9ff;

}

.btns{

margin:30px;

}

.btns button{

margin:15px;

padding:15px 40px;

border:none;

border-radius:30px;

background:#00d9ff;

cursor:pointer;

font-size:18px;

}

.homeBtn{

margin-top:30px;

padding:12px 35px;

border:none;

border-radius:25px;

cursor:pointer;

}